*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}

html{
  scroll-behavior: smooth;
  font-size: 62.5%; 
}

@media only screen and (max-width: 33.75em) { /*Smart-Phone*/
  html{
    font-size: 31.25% !important; /*1 rem = 5px, 5/16 = 31.25%*/
  }
}

@media only screen and (max-width: 100em) { /*Desktop*/
  html{
    font-size: 50%; /*1 rem = 8px, 8/16 = 50%*/
  }
}








body{
  box-sizing: border-box;
  font-family: 'Inter';
  font-style: normal;
 
}

.main-content{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #475569;   
  height: 100vh;
  width: 100%;
  position: relative;
}
