*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}

html{
  scroll-behavior: smooth;
  font-size: 50%;
}

@media only screen and (max-width: 100em) { 
  html{
    font-size: 37.5%; /*1 rem = 6px, 6/16 = 37.5%*/
  }
 };   


body{
  box-sizing: border-box;
  font-family: 'Inter';
  font-style: normal;
 
}

.main-content{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #475569;   
  height: 100vh;
  width: 100%;
  position: relative;
}
